# Определение стоимости автомобилей

Сервис по продаже автомобилей с пробегом разрабатывает приложение для определения рыночной стоимости своего автомобиля. Нужно построить модель для определения стоимости. 

Заказчику важны:

- качество предсказания;
- скорость предсказания;
- время обучения.

# Описание данных
# Признаки
- DateCrawled — дата скачивания анкеты из базы
- VehicleType — тип автомобильного кузова
- RegistrationYear — год регистрации автомобиля
- Gearbox — тип коробки передач
- Power — мощность (л. с.)
- Model — модель автомобиля
- Kilometer — пробег (км)
- RegistrationMonth — месяц регистрации автомобиля
- FuelType — тип топлива
- Brand — марка автомобиля
- NotRepaired — была машина в ремонте или нет
- DateCreated — дата создания анкеты
- NumberOfPictures — количество фотографий автомобиля
- PostalCode — почтовый индекс владельца анкеты (пользователя)
- LastSeen — дата последней активности пользователя

# Целевой признак
- Price — цена (евро)

# Инструкция по выполнению проекта
Чтобы усилить исследование, не ограничивайтесь градиентным бустингом. Попробуйте более простые модели — иногда они работают лучше. Это редкие случаи, которые легко пропустить, если всегда применять только бустинг. Поэкспериментируйте и сравните характеристики моделей: скорость работы, точность результата.

## Подготовка данных

In [ ]:
!pip install -U scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/a8/eb/a48f25c967526b66d5f1fa7a984594f0bf0a5afafa94a8c4dbc317744620/scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 181kB/s
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.2 threadpoolctl-2.1.0

In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/5a/41/24e14322b9986cf72a8763e0a0a69cc256cf963cf9502c8f0044a62c1ae8/catboost-0.26-cp37-none-manylinux1_x86_64.whl (69.2MB)
     |████████████████████████████████| 69.2MB 65kB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26

In [ ]:
import numpy as np
import pandas as pd
import time

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, make_scorer

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [ ]:

df.head(10)

           DateCrawled  Price  ... PostalCode             LastSeen
0  2016-03-24 11:52:17    480  ...      70435  2016-04-07 03:16:57
1  2016-03-24 10:58:45  18300  ...      66954  2016-04-07 01:46:50
2  2016-03-14 12:52:21   9800  ...      90480  2016-04-05 12:47:46
3  2016-03-17 16:54:04   1500  ...      91074  2016-03-17 17:40:17
4  2016-03-31 17:25:20   3600  ...      60437  2016-04-06 10:17:21
5  2016-04-04 17:36:23    650  ...      33775  2016-04-06 19:17:07
6  2016-04-01 20:48:51   2200  ...      67112  2016-04-05 18:18:39
7  2016-03-21 18:54:38      0  ...      19348  2016-03-25 16:47:58
8  2016-04-04 23:42:13  14500  ...      94505  2016-04-04 23:42:13
9  2016-03-17 10:53:50    999  ...      27472  2016-03-31 17:17:06

[10 rows x 16 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Kilometer          354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

In [ ]:
df.describe()

               Price  RegistrationYear  ...  NumberOfPictures     PostalCode
count  354369.000000     354369.000000  ...          354369.0  354369.000000
mean     4416.656776       2004.234448  ...               0.0   50508.689087
std      4514.158514         90.227958  ...               0.0   25783.096248
min         0.000000       1000.000000  ...               0.0    1067.000000
25%      1050.000000       1999.000000  ...               0.0   30165.000000
50%      2700.000000       2003.000000  ...               0.0   49413.000000
75%      6400.000000       2008.000000  ...               0.0   71083.000000
max     20000.000000       9999.000000  ...               0.0   99998.000000

[8 rows x 7 columns]

In [ ]:
df.isna().sum()

DateCrawled              0
Price                    0
VehicleType          37490
RegistrationYear         0
Gearbox              19833
Power                    0
Model                19705
Kilometer                0
RegistrationMonth        0
FuelType             32895
Brand                    0
NotRepaired          71154
DateCreated              0
NumberOfPictures         0
PostalCode               0
LastSeen                 0
dtype: int64

Имеем массив данных размером 354тыс строк на 16 столбцов:
- в столбце VehicleType имеется 37,5тыс пропусков;
- в столбцах Gearbox и Model почти по 20тыс пропусков;
- в столбце FuelType имеется почти 33тыс пропусков;
- в столобце NotRepaired - 71тыс пропусков;
- в столбце Price есть строки с 0 стоимостью машины - это наш целевой признак, пропусков нет;
- в столбце RegistrationYear имеются строки с годом 9999;
- в столбце RegistrationMonth можно удалить, тк для возраста важен год регистрации;
- в столбце Power не везде указана мощность моторов + есть записи в 20тыс л.с., что явно либо опечатка, либо аномалия;
- в столбце NumberOfPictures нет ни одной фотографии, можно сразу удалить.

## Предобработка данных

Удалим столбцы с фотографиями, потому что их нет; 
а также столбецы с почтовым индексом и с месяцем регистарции,
тк он не несет полезной информации: важен год регистрации для определея возраста машины

In [ ]:
df = df.drop(['NumberOfPictures', 'RegistrationMonth', 'PostalCode'], axis = 1)

In [ ]:
# Так как время и день внесения в систему новой позиции нам не важны, то столбцы можно удалить.
df = df.drop(['DateCrawled','DateCreated','LastSeen'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Price             354369 non-null  int64
 1   VehicleType       316879 non-null  object
 2   RegistrationYear  354369 non-null  int64
 3   Gearbox           334536 non-null  object
 4   Power             354369 non-null  int64
 5   Model             334664 non-null  object
 6   Kilometer         354369 non-null  int64
 7   FuelType          321474 non-null  object
 8   Brand             354369 non-null  object
 9   NotRepaired       283215 non-null  object
dtypes: int64(4), object(6)
memory usage: 27.0+ MB

In [ ]:
# Мы заметили ,что в столбце RegistrationYear есть аномальные даты:
print(df[df['RegistrationYear']<1950]['RegistrationYear'].count())
print(df[df['RegistrationYear']>2016]['RegistrationYear'].count())

246
14530

In [ ]:
print(df[df['RegistrationYear']<1950]['RegistrationYear'].count()/len(df)*100)
print(df[df['RegistrationYear']>2016]['RegistrationYear'].count()/len(df)*100)

0.0694191647689273
4.100245788993958

In [ ]:
# Аномалььных дат примерно 4.17% от общего массива, но лучше удалить
df = df.drop(df[df['RegistrationYear']<1950].index).reset_index(drop = True)
df = df.drop(df[df['RegistrationYear']>2016].index).reset_index(drop = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339593 entries, 0 to 339592
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Price             339593 non-null  int64
 1   VehicleType       316753 non-null  object
 2   RegistrationYear  339593 non-null  int64
 3   Gearbox           321781 non-null  object
 4   Power             339593 non-null  int64
 5   Model             322060 non-null  object
 6   Kilometer         339593 non-null  int64
 7   FuelType          312434 non-null  object
 8   Brand             339593 non-null  object
 9   NotRepaired       274915 non-null  object
dtypes: int64(4), object(6)
memory usage: 25.9+ MB

In [ ]:
df['Car_age'] = 2016 - df['RegistrationYear']
df = df.drop('RegistrationYear', axis = 1)
df.describe()

               Price          Power      Kilometer        Car_age
count  339593.000000  339593.000000  339593.000000  339593.000000
mean     4471.566207     111.045696  128123.960152      13.474821
std      4545.245169     186.899948   37842.413937       6.835767
min         0.000000       0.000000    5000.000000       0.000000
25%      1100.000000      69.000000  125000.000000       9.000000
50%      2799.000000     105.000000  150000.000000      13.000000
75%      6500.000000     143.000000  150000.000000      17.000000
max     20000.000000   20000.000000  150000.000000      66.000000

In [ ]:
df.head()

   Price VehicleType Gearbox  Power  ...  FuelType       Brand NotRepaired Car_age
0    480         NaN  manual      0  ...    petrol  volkswagen         NaN      23
1  18300       coupe  manual    190  ...  gasoline        audi         yes       5
2   9800         suv    auto    163  ...  gasoline        jeep         NaN      12
3   1500       small  manual     75  ...    petrol  volkswagen          no      15
4   3600       small  manual     69  ...  gasoline       skoda          no       8

[5 rows x 10 columns]

In [ ]:
# Посмотрим на наименования брендов
df['Brand'].unique()

array(['volkswagen', 'audi', 'jeep', 'skoda', 'bmw', 'peugeot', 'ford',
       'mazda', 'nissan', 'renault', 'mercedes_benz', 'seat', 'honda',
       'fiat', 'opel', 'mini', 'smart', 'hyundai', 'sonstige_autos',
       'alfa_romeo', 'subaru', 'volvo', 'mitsubishi', 'kia', 'suzuki',
       'lancia', 'citroen', 'toyota', 'chevrolet', 'dacia', 'daihatsu',
       'trabant', 'saab', 'chrysler', 'jaguar', 'daewoo', 'porsche',
       'rover', 'land_rover', 'lada'], dtype=object)

In [ ]:
# Имеется странная марка Sonstige_autos, проверим, сколько по ней позиций в массиве
df[df['Brand']=='sonstige_autos'].isna().sum()

Price             0
VehicleType     834
Gearbox         963
Power             0
Model          3135
Kilometer         0
FuelType        946
Brand             0
NotRepaired    1176
Car_age           0
dtype: int64

In [ ]:
# Видим, что у данной марки нет ни одной модели, эти данные составляют менее 1%, поэтому можно удалить эти строки
df = df.drop(df[df['Brand']=='sonstige_autos'].index).reset_index(drop = True)
df.head(10)

   Price  VehicleType Gearbox  Power  ...  FuelType       Brand NotRepaired Car_age
0    480          NaN  manual      0  ...    petrol  volkswagen         NaN      23
1  18300        coupe  manual    190  ...  gasoline        audi         yes       5
2   9800          suv    auto    163  ...  gasoline        jeep         NaN      12
3   1500        small  manual     75  ...    petrol  volkswagen          no      15
4   3600        small  manual     69  ...  gasoline       skoda          no       8
5    650        sedan  manual    102  ...    petrol         bmw         yes      21
6   2200  convertible  manual    109  ...    petrol     peugeot          no      12
7      0        sedan  manual     50  ...    petrol  volkswagen          no      36
8  14500          bus  manual    125  ...    petrol        ford         NaN       2
9    999        small  manual    101  ...       NaN  volkswagen         NaN      18

[10 rows x 10 columns]

In [ ]:
# Рассмотрим аномалии в столбце мощности мотора, максимальное значение значится 20тыс лс
df[df['Power']>500]['Power'].count()

410

In [ ]:
df[df['Power']==0]['Power'].count()

35101

Будем считать, что авто с нулевой мощностью это авто без двигателя - выставлены на продажу запчастей

In [ ]:
df[df['Power']>500]['Model'].unique()
# очень сомнительно, что Toyota Corolla под капотом имеет 500лс или Fabia

array(['corolla', 'vectra', 'colt', 'astra', 'matiz', 'punto', 'corsa',
       'lupo', nan, 'ypsilon', 'zafira', 'focus', 'other', 'ka', 's_type',
       'escort', 'm_reihe', 'ibiza', '5er', 'micra', 'e_klasse',
       'cayenne', 'c5', 'polo', '3er', 'fabia', 'caddy', 'golf', 'v40',
       'a8', 'aygo', '3_reihe', 'mondeo', 'arosa', 'c4', 'a6', 'twingo',
       'fortwo', 'a4', 'seicento', 'fiesta', 'leon', 'c_klasse',
       'berlingo', 'omega', 'sprinter', 'rio', 'scenic', 'a_klasse',
       'passat', 'ptcruiser', '6_reihe', 'touran', '1er', 'stilo',
       's_klasse', 'megane', 'transporter', 'galaxy', 'ceed', '80',
       'doblo', 'octavia', 'clk', 'cooper', 'cordoba', '147', 'agila',
       'outlander', 'mustang', 'sharan', 'm_klasse', 'kangoo', '500',
       'civic', 'a3', 'forfour', 'rav', 'laguna', 'bravo', 'spark',
       'nubira', 'kaefer', '2_reihe', 'espace', 'toledo', 'tt', 'up',
       'c2', 'touareg', 'clio', 'tiguan', 'c_max', 'yaris', 'cl',
       'x_trail', 'carisma'], dtype=object)

In [ ]:
# 410 строк, где мощность мотора свыше 500лс, можно смело удалять
df = df.drop(df[df['Power']>500].index).reset_index(drop = True)
df.describe()

               Price          Power      Kilometer        Car_age
count  336048.000000  336048.000000  336048.000000  336048.000000
mean     4464.490638     107.680251  128469.385326      13.399193
std      4533.204319      62.335755   37430.104124       6.666457
min         0.000000       0.000000    5000.000000       0.000000
25%      1100.000000      69.000000  125000.000000       9.000000
50%      2799.000000     105.000000  150000.000000      13.000000
75%      6500.000000     143.000000  150000.000000      17.000000
max     20000.000000     500.000000  150000.000000      66.000000

Выводы: Мы почистили таблицу от аномальных данных:
- строки, где мощность моторов выше 500лс;
- строки, где год регистрации указан больше 2016 года и меньше 1950 года;
- строки, где не было указано ни модели машины, ни бренда;
и удалили ненужные признаки в целом.

In [ ]:
df[df.duplicated()==True]

        Price VehicleType Gearbox  ...          Brand NotRepaired  Car_age
1052      950       small  manual  ...     volkswagen          no       17
1316        0         NaN     NaN  ...          volvo         NaN       16
2051        0       coupe  manual  ...  mercedes_benz          no       14
2676     1499       small  manual  ...           opel          no       15
2860     2800       wagon     NaN  ...     volkswagen          no       11
...       ...         ...     ...  ...            ...         ...      ...
336032   6500       sedan    auto  ...  mercedes_benz          no       13
336035   4400       sedan  manual  ...           seat          no        8
336038   1490       small  manual  ...     volkswagen          no       18
336039   7900       sedan  manual  ...     volkswagen          no        6
336043   1150         bus  manual  ...           opel          no       16

[43661 rows x 10 columns]

## Функция кодирование категориальных признаков

In [ ]:
def enum_column(data, column):
    '''
    Функция принимает на вход массив data и название колонки в массиве column, которую будем кодировать.
    Создаем словарь с нумерацией, испоьзуя функцию enumerate.
    Подставляем цифры вместо названий в ячейках через метод map.
    Возвращаем массив data и, если был пропуск, то число, заменяющее пропуск
    '''
    col_dct = dict(enumerate(data[column].unique()))
    col_dict = {v:k for k,v in col_dct.items()}
    if 'unknown' in col_dict:
        un_known = col_dict["unknown"]
        data[column] = data[column].map(col_dict)
        return data, un_known
    else:
        data[column] = data[column].map(col_dict)
        return data

## Заполнение пропусков модели

In [ ]:
# Функция модели предсказания пропуска

def knn_clf(X_train, y_train, X_test):
    knn_model = KNeighborsClassifier()
    knn_model.fit(X_train, y_train)
    return knn_model.predict(X_test)

In [ ]:
# С помощью модели Ближайших соседей заполним пропуски.

for brand in df['Brand'].unique():
    brand_df = df[df['Brand']==brand][['Price','Car_age','Power','Model','Kilometer']]
    brand_df_zeros = brand_df[brand_df['Model'].isna()==True]
    brand_df_train = brand_df[brand_df['Model'].isna()==False]
    
    
    model_dct = dict(enumerate(brand_df_train['Model'].unique()))
    model_dict = {v:k for k,v in model_dct.items()}
    brand_df_train['Model'] = brand_df_train['Model'].map(model_dict)
    
    try:
        X_train = brand_df_train.drop(['Model'], axis = 1)
        y_train = brand_df_train['Model']
        X_test = brand_df_zeros.drop(['Model'], axis = 1)
        brand_df_zeros['Model'] = knn_clf(X_train, y_train, X_test)
        brand_df_zeros['model'] = brand_df_zeros['Model'].map(model_dct)
        df['Model'].iloc[brand_df_zeros['model'].index] = np.array(brand_df_zeros['model'])
    except:
        pass

In [ ]:
df['Model'].isna().sum()

0

In [ ]:
df = enum_column(df, 'Model')

In [ ]:
# Заполним пропуски словом unknown, чтобы удобно было применить 
df = df.fillna('unknown')

In [ ]:
df.head()

   Price VehicleType Gearbox  Power  ...  FuelType       Brand NotRepaired Car_age
0    480     unknown  manual      0  ...    petrol  volkswagen     unknown      23
1  18300       coupe  manual    190  ...  gasoline        audi         yes       5
2   9800         suv    auto    163  ...  gasoline        jeep     unknown      12
3   1500       small  manual     75  ...    petrol  volkswagen          no      15
4   3600       small  manual     69  ...  gasoline       skoda          no       8

[5 rows x 10 columns]

## Кодирование столбцов

In [ ]:
df = enum_column(df, 'Brand')

In [ ]:
for column in ['VehicleType', 'FuelType', 'Gearbox']:
    df, un_known = enum_column(df, column)
    X_train = df.loc[df[column]!=un_known, ['Model', 'Car_age', 'Brand']]
    y_train = df.loc[df[column]!=un_known, column]
    X_test = df.loc[df[column]==un_known, ['Model', 'Car_age', 'Brand']]
    y_test = knn_clf(X_train, y_train, X_test)
    df.loc[df[column]==un_known, column] = y_test

In [ ]:
df = enum_column(df, 'NotRepaired')[0]

In [ ]:
df.head()

   Price  VehicleType  Gearbox  Power  ...  FuelType  Brand  NotRepaired  Car_age
0    480            3        0      0  ...         0      0            0       23
1  18300            1        0    190  ...         1      1            1        5
2   9800            2        1    163  ...         1      2            0       12
3   1500            3        0     75  ...         0      0            2       15
4   3600            3        0     69  ...         1      3            2        8

[5 rows x 10 columns]

## Обучение моделей

In [ ]:
# Поделим наш массив на выборки для обучения моделей
X = df.drop('Price', axis = 1)
y = df['Price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
numeric_features = ['Power', 'Kilometer', 'Car_age']
categ_features = ['VehicleType', 'Gearbox', 'Model', 'FuelType', 'Brand', 'NotRepaired']

In [ ]:
# Создадим списки данных для наших моделей: Линейная регрессия, Лес и LGBM
names = [
    'LinearRegression',
    'RandomForestRegressor',
    'LGBMRegressor',
    'CatBoostRegressor'
]

models = [
    LinearRegression(),
    RandomForestRegressor(),
    LGBMRegressor(),
    CatBoostRegressor()
]

parameters = [
    {},
    {'model__n_estimators':[101],
     'model__max_depth':[19],
     'model__random_state':[0]
    },
    {'model__max_depth':[12],
     'model__learning_rate' : [0.4],
    'model__n_estimators':[111],
     'model__random_state':[0]
    },
    {'model__iterations':[200],
     'model__learning_rate':[0.4],
     'model__max_depth':[12],
     'model__random_seed':[0],
     'model__loss_function':['RMSE']
     }
]

In [ ]:
def model_train(model, param_grid):
    '''
    Функция принимает на вход модель и набор гиперпараметров,
    подбирает наилучшие гиперпараметры через GridSearchCV библиотеку, где предварительно
    колонки Power, Kilometer и car_age масштабируются
    '''
    preprocessor = ColumnTransformer(transformers = [('num', StandardScaler(), numeric_features)],
                                     remainder = 'passthrough')
    clf = Pipeline(steps = [('model', model),
                        ('model', model)])
    start_time = time.time()
    grid = GridSearchCV(clf, param_grid, cv= 5, n_jobs = -1, scoring = 'neg_mean_squared_error').fit(X_train, y_train)
    
    train_time = round(time.time()-start_time,2)
    #return grid.best_estimator_, grid.best_params_
    return grid.best_estimator_, train_time

In [ ]:
# Создадим таблицу, где будем сохранять результаты обучения и предсказания моделей
column = ['Модель', 'Гиперпараметры', 'Время обучения, сек', 'Время предсказания, сек', 'Метрика RMSE, евро']
results = pd.DataFrame(columns=column)

In [ ]:
# В цикле обучим наши модели из списка, посчитаем время предсказания и метрику RMSE, сохраним результаты в таблице
for name, model, param_grid in zip(names,models, parameters):
    model, train_time = model_train(model, param_grid)
    model.fit(X_train, y_train)
    start_time = time.time()
    y_pred = model.predict(X_test)
    predict_time = round(time.time()-start_time, 2)
    rmse = mean_squared_error(y_test, y_pred)**0.5
    results = pd.concat([results, pd.DataFrame([[name, model, train_time, predict_time, rmse]], columns = column)])

0:	learn: 3308.0335720	total: 233ms	remaining: 46.4s
1:	learn: 2666.2695613	total: 358ms	remaining: 35.4s
2:	learn: 2338.2945817	total: 483ms	remaining: 31.7s
3:	learn: 2130.9396499	total: 605ms	remaining: 29.6s
4:	learn: 2039.0243890	total: 730ms	remaining: 28.5s
5:	learn: 1961.7731182	total: 859ms	remaining: 27.8s
6:	learn: 1920.4471564	total: 987ms	remaining: 27.2s
7:	learn: 1893.4743153	total: 1.11s	remaining: 26.7s
8:	learn: 1862.7207885	total: 1.23s	remaining: 26.2s
9:	learn: 1844.8323838	total: 1.36s	remaining: 25.8s
10:	learn: 1828.0797352	total: 1.48s	remaining: 25.5s
11:	learn: 1815.1853175	total: 1.61s	remaining: 25.2s
12:	learn: 1799.6379193	total: 1.73s	remaining: 24.9s
13:	learn: 1790.4712868	total: 1.86s	remaining: 24.7s
14:	learn: 1783.2081584	total: 1.98s	remaining: 24.4s
15:	learn: 1769.1601767	total: 2.11s	remaining: 24.3s
16:	learn: 1758.3818161	total: 2.23s	remaining: 24s
17:	learn: 1753.0956709	total: 2.36s	remaining: 23.9s
18:	learn: 1747.7310348	total: 2.48s	remaining: 23.7s
19:	learn: 1740.7804284	total: 2.61s	remaining: 23.5s
20:	learn: 1733.5521691	total: 2.73s	remaining: 23.3s
21:	learn: 1724.7570906	total: 2.86s	remaining: 23.1s
22:	learn: 1717.4626255	total: 2.98s	remaining: 22.9s
23:	learn: 1712.9713278	total: 3.11s	remaining: 22.8s
24:	learn: 1707.7546112	total: 3.23s	remaining: 22.6s
25:	learn: 1703.9398335	total: 3.35s	remaining: 22.4s
26:	learn: 1699.1382255	total: 3.48s	remaining: 22.3s
27:	learn: 1694.3449137	total: 3.6s	remaining: 22.1s
28:	learn: 1688.7239806	total: 3.72s	remaining: 22s
29:	learn: 1682.9284247	total: 3.85s	remaining: 21.8s
30:	learn: 1677.6670641	total: 3.98s	remaining: 21.7s
31:	learn: 1670.9439284	total: 4.11s	remaining: 21.6s
32:	learn: 1666.0367175	total: 4.23s	remaining: 21.4s
33:	learn: 1661.4480201	total: 4.35s	remaining: 21.2s
34:	learn: 1656.6863982	total: 4.47s	remaining: 21.1s
35:	learn: 1653.3081557	total: 4.58s	remaining: 20.9s
36:	learn: 1650.3304787	total: 4.71s	remaining: 20.7s
37:	learn: 1646.0761079	total: 4.83s	remaining: 20.6s
38:	learn: 1643.0934833	total: 4.96s	remaining: 20.5s
39:	learn: 1636.4195052	total: 5.08s	remaining: 20.3s
40:	learn: 1632.3772107	total: 5.2s	remaining: 20.2s
41:	learn: 1627.6110176	total: 5.32s	remaining: 20s
42:	learn: 1623.0973659	total: 5.45s	remaining: 19.9s
43:	learn: 1619.7030591	total: 5.57s	remaining: 19.7s
44:	learn: 1615.4947212	total: 5.69s	remaining: 19.6s
45:	learn: 1613.5079838	total: 5.82s	remaining: 19.5s
46:	learn: 1608.4291024	total: 5.94s	remaining: 19.3s
47:	learn: 1605.1840519	total: 6.06s	remaining: 19.2s
48:	learn: 1602.7976405	total: 6.18s	remaining: 19.1s
49:	learn: 1600.3238811	total: 6.3s	remaining: 18.9s
50:	learn: 1597.6098955	total: 6.42s	remaining: 18.8s
51:	learn: 1595.4365129	total: 6.54s	remaining: 18.6s
52:	learn: 1591.4983744	total: 6.66s	remaining: 18.5s
53:	learn: 1587.7583066	total: 6.79s	remaining: 18.3s
54:	learn: 1585.9771387	total: 6.92s	remaining: 18.2s
55:	learn: 1580.0838759	total: 7.05s	remaining: 18.1s
56:	learn: 1575.4636555	total: 7.18s	remaining: 18s
57:	learn: 1572.0847314	total: 7.3s	remaining: 17.9s
58:	learn: 1569.0959874	total: 7.42s	remaining: 17.7s
59:	learn: 1567.4868555	total: 7.54s	remaining: 17.6s
60:	learn: 1564.8133091	total: 7.67s	remaining: 17.5s
61:	learn: 1561.8064954	total: 7.79s	remaining: 17.3s
62:	learn: 1558.5347849	total: 7.92s	remaining: 17.2s
63:	learn: 1557.1939689	total: 8.04s	remaining: 17.1s
64:	learn: 1554.7325426	total: 8.16s	remaining: 16.9s
65:	learn: 1553.1893419	total: 8.28s	remaining: 16.8s
66:	learn: 1551.1372592	total: 8.4s	remaining: 16.7s
67:	learn: 1548.6912533	total: 8.53s	remaining: 16.5s
68:	learn: 1546.6477776	total: 8.65s	remaining: 16.4s
69:	learn: 1544.2615833	total: 8.77s	remaining: 16.3s
70:	learn: 1542.7752586	total: 8.9s	remaining: 16.2s
71:	learn: 1541.6443407	total: 9.02s	remaining: 16s
72:	learn: 1539.5129477	total: 9.15s	remaining: 15.9s
73:	learn: 1535.5419424	total: 9.27s	remaining: 15.8s
74:	learn: 1533.3737243	total: 9.39s	remaining: 15.7s
75:	learn: 1530.4328393	total: 9.51s	remaining: 15.5s
76:	learn: 1527.7700284	total: 9.64s	remaining: 15.4s
77:	learn: 1525.3595399	total: 9.76s	remaining: 15.3s
78:	learn: 1522.6642763	total: 9.89s	remaining: 15.2s
79:	learn: 1521.3422744	total: 10s	remaining: 15s
80:	learn: 1519.1767701	total: 10.1s	remaining: 14.9s
81:	learn: 1517.0612391	total: 10.3s	remaining: 14.8s
82:	learn: 1514.4907359	total: 10.4s	remaining: 14.6s
83:	learn: 1512.9875660	total: 10.5s	remaining: 14.5s
84:	learn: 1510.9064474	total: 10.6s	remaining: 14.4s
85:	learn: 1507.4856603	total: 10.7s	remaining: 14.2s
86:	learn: 1506.4532122	total: 10.9s	remaining: 14.1s
87:	learn: 1504.2313306	total: 11s	remaining: 14s
88:	learn: 1501.9716285	total: 11.1s	remaining: 13.9s
89:	learn: 1501.0840604	total: 11.2s	remaining: 13.7s
90:	learn: 1497.4894772	total: 11.4s	remaining: 13.6s
91:	learn: 1495.1930889	total: 11.5s	remaining: 13.5s
92:	learn: 1492.7867039	total: 11.6s	remaining: 13.4s
93:	learn: 1490.6692230	total: 11.7s	remaining: 13.2s
94:	learn: 1489.9513665	total: 11.9s	remaining: 13.1s
95:	learn: 1488.3237147	total: 12s	remaining: 13s
96:	learn: 1486.2348466	total: 12.1s	remaining: 12.9s
97:	learn: 1484.3300499	total: 12.2s	remaining: 12.7s
98:	learn: 1482.8893327	total: 12.3s	remaining: 12.6s
99:	learn: 1480.8716802	total: 12.5s	remaining: 12.5s
100:	learn: 1479.5242936	total: 12.6s	remaining: 12.3s
101:	learn: 1478.1378071	total: 12.7s	remaining: 12.2s
102:	learn: 1476.0553657	total: 12.8s	remaining: 12.1s
103:	learn: 1474.9691080	total: 13s	remaining: 12s
104:	learn: 1474.1220379	total: 13.1s	remaining: 11.8s
105:	learn: 1472.1480657	total: 13.2s	remaining: 11.7s
106:	learn: 1471.0904082	total: 13.3s	remaining: 11.6s
107:	learn: 1469.6863854	total: 13.4s	remaining: 11.5s
108:	learn: 1468.1312476	total: 13.6s	remaining: 11.3s
109:	learn: 1465.9711028	total: 13.7s	remaining: 11.2s
110:	learn: 1465.2734723	total: 13.8s	remaining: 11.1s
111:	learn: 1463.9866129	total: 14s	remaining: 11s
112:	learn: 1463.0656373	total: 14.1s	remaining: 10.9s
113:	learn: 1462.4379427	total: 14.2s	remaining: 10.7s
114:	learn: 1460.6298675	total: 14.3s	remaining: 10.6s
115:	learn: 1458.5989150	total: 14.5s	remaining: 10.5s
116:	learn: 1457.1692357	total: 14.6s	remaining: 10.4s
117:	learn: 1455.9095764	total: 14.7s	remaining: 10.2s
118:	learn: 1454.9678136	total: 14.8s	remaining: 10.1s
119:	learn: 1453.1502405	total: 14.9s	remaining: 9.97s
120:	learn: 1450.9149809	total: 15.1s	remaining: 9.84s
121:	learn: 1449.5481913	total: 15.2s	remaining: 9.71s
122:	learn: 1448.5493657	total: 15.3s	remaining: 9.59s
123:	learn: 1447.0378363	total: 15.4s	remaining: 9.46s
124:	learn: 1446.1601675	total: 15.6s	remaining: 9.33s
125:	learn: 1445.1983579	total: 15.7s	remaining: 9.21s
126:	learn: 1444.2026408	total: 15.8s	remaining: 9.08s
127:	learn: 1442.8649129	total: 15.9s	remaining: 8.95s
128:	learn: 1442.2348908	total: 16s	remaining: 8.83s
129:	learn: 1441.2205617	total: 16.2s	remaining: 8.7s
130:	learn: 1440.4472141	total: 16.3s	remaining: 8.57s
131:	learn: 1439.0539119	total: 16.4s	remaining: 8.45s
132:	learn: 1437.6479736	total: 16.5s	remaining: 8.32s
133:	learn: 1435.3963031	total: 16.6s	remaining: 8.2s
134:	learn: 1433.9335431	total: 16.8s	remaining: 8.07s
135:	learn: 1432.7654516	total: 16.9s	remaining: 7.95s
136:	learn: 1432.0368357	total: 17s	remaining: 7.82s
137:	learn: 1429.7074789	total: 17.1s	remaining: 7.7s
138:	learn: 1428.8624492	total: 17.3s	remaining: 7.57s
139:	learn: 1428.1079617	total: 17.4s	remaining: 7.45s
140:	learn: 1426.7507668	total: 17.5s	remaining: 7.32s
141:	learn: 1426.0813588	total: 17.6s	remaining: 7.19s
142:	learn: 1424.4648999	total: 17.7s	remaining: 7.07s
143:	learn: 1423.1920661	total: 17.8s	remaining: 6.94s
144:	learn: 1422.3931397	total: 18s	remaining: 6.82s
145:	learn: 1421.4954412	total: 18.1s	remaining: 6.69s
146:	learn: 1420.2170266	total: 18.2s	remaining: 6.56s
147:	learn: 1419.6501459	total: 18.3s	remaining: 6.44s
148:	learn: 1418.3831264	total: 18.4s	remaining: 6.31s
149:	learn: 1417.8133119	total: 18.6s	remaining: 6.19s
150:	learn: 1417.0836103	total: 18.7s	remaining: 6.06s
151:	learn: 1415.9017016	total: 18.8s	remaining: 5.94s
152:	learn: 1414.8338832	total: 18.9s	remaining: 5.81s
153:	learn: 1412.7699749	total: 19.1s	remaining: 5.69s
154:	learn: 1411.7140638	total: 19.2s	remaining: 5.57s
155:	learn: 1410.7678964	total: 19.3s	remaining: 5.44s
156:	learn: 1410.3203278	total: 19.4s	remaining: 5.31s
157:	learn: 1409.4005430	total: 19.5s	remaining: 5.19s
158:	learn: 1408.4171859	total: 19.6s	remaining: 5.06s
159:	learn: 1407.7303735	total: 19.8s	remaining: 4.94s
160:	learn: 1406.2844640	total: 19.9s	remaining: 4.82s
161:	learn: 1405.7565012	total: 20s	remaining: 4.69s
162:	learn: 1404.7328210	total: 20.1s	remaining: 4.57s
163:	learn: 1404.6886009	total: 20.2s	remaining: 4.43s
164:	learn: 1404.1785584	total: 20.3s	remaining: 4.3s
165:	learn: 1403.2187316	total: 20.4s	remaining: 4.18s
166:	learn: 1400.4420404	total: 20.5s	remaining: 4.06s
167:	learn: 1398.9747915	total: 20.7s	remaining: 3.93s
168:	learn: 1398.2731763	total: 20.8s	remaining: 3.81s
169:	learn: 1397.0580772	total: 20.9s	remaining: 3.69s
170:	learn: 1396.5404626	total: 21s	remaining: 3.56s
171:	learn: 1395.9441531	total: 21.1s	remaining: 3.44s
172:	learn: 1394.8673825	total: 21.3s	remaining: 3.32s
173:	learn: 1394.2529210	total: 21.4s	remaining: 3.19s
174:	learn: 1393.5944742	total: 21.5s	remaining: 3.07s
175:	learn: 1392.1203989	total: 21.6s	remaining: 2.95s
176:	learn: 1391.3024182	total: 21.7s	remaining: 2.83s
177:	learn: 1390.6831773	total: 21.9s	remaining: 2.7s
178:	learn: 1389.9379049	total: 22s	remaining: 2.58s
179:	learn: 1388.9148457	total: 22.1s	remaining: 2.46s
180:	learn: 1387.6457787	total: 22.2s	remaining: 2.33s
181:	learn: 1386.9334775	total: 22.4s	remaining: 2.21s
182:	learn: 1385.3597835	total: 22.5s	remaining: 2.09s
183:	learn: 1384.3961800	total: 22.6s	remaining: 1.97s
184:	learn: 1383.6093991	total: 22.7s	remaining: 1.84s
185:	learn: 1383.1118650	total: 22.8s	remaining: 1.72s
186:	learn: 1382.3610870	total: 23s	remaining: 1.6s
187:	learn: 1381.7135478	total: 23.1s	remaining: 1.47s
188:	learn: 1380.2614826	total: 23.2s	remaining: 1.35s
189:	learn: 1379.3099885	total: 23.3s	remaining: 1.23s
190:	learn: 1378.7708417	total: 23.5s	remaining: 1.1s
191:	learn: 1377.9359902	total: 23.6s	remaining: 982ms
192:	learn: 1377.1253276	total: 23.7s	remaining: 859ms
193:	learn: 1375.6083546	total: 23.8s	remaining: 737ms
194:	learn: 1374.8411609	total: 23.9s	remaining: 614ms
195:	learn: 1373.3585472	total: 24.1s	remaining: 492ms
196:	learn: 1372.8359614	total: 24.2s	remaining: 369ms
197:	learn: 1371.7140720	total: 24.3s	remaining: 246ms
198:	learn: 1371.0244242	total: 24.5s	remaining: 123ms
199:	learn: 1370.5984737	total: 24.6s	remaining: 0us
0:	learn: 3308.0335720	total: 131ms	remaining: 26s
1:	learn: 2666.2695613	total: 250ms	remaining: 24.7s
2:	learn: 2338.2945817	total: 373ms	remaining: 24.5s
3:	learn: 2130.9396499	total: 491ms	remaining: 24.1s
4:	learn: 2039.0243890	total: 615ms	remaining: 24s
5:	learn: 1961.7731182	total: 732ms	remaining: 23.7s
6:	learn: 1920.4471564	total: 859ms	remaining: 23.7s
7:	learn: 1893.4743153	total: 977ms	remaining: 23.5s
8:	learn: 1862.7207885	total: 1.1s	remaining: 23.5s
9:	learn: 1844.8323838	total: 1.23s	remaining: 23.4s
10:	learn: 1828.0797352	total: 1.35s	remaining: 23.3s
11:	learn: 1815.1853175	total: 1.48s	remaining: 23.1s
12:	learn: 1799.6379193	total: 1.6s	remaining: 23s
13:	learn: 1790.4712868	total: 1.72s	remaining: 22.8s
14:	learn: 1783.2081584	total: 1.84s	remaining: 22.7s
15:	learn: 1769.1601767	total: 1.96s	remaining: 22.5s
16:	learn: 1758.3818161	total: 2.08s	remaining: 22.4s
17:	learn: 1753.0956709	total: 2.21s	remaining: 22.3s
18:	learn: 1747.7310348	total: 2.33s	remaining: 22.2s
19:	learn: 1740.7804284	total: 2.45s	remaining: 22.1s
20:	learn: 1733.5521691	total: 2.57s	remaining: 21.9s
21:	learn: 1724.7570906	total: 2.69s	remaining: 21.8s
22:	learn: 1717.4626255	total: 2.82s	remaining: 21.7s
23:	learn: 1712.9713278	total: 2.94s	remaining: 21.5s
24:	learn: 1707.7546112	total: 3.06s	remaining: 21.4s
25:	learn: 1703.9398335	total: 3.19s	remaining: 21.3s
26:	learn: 1699.1382255	total: 3.31s	remaining: 21.2s
27:	learn: 1694.3449137	total: 3.43s	remaining: 21.1s
28:	learn: 1688.7239806	total: 3.55s	remaining: 20.9s
29:	learn: 1682.9284247	total: 3.66s	remaining: 20.8s
30:	learn: 1677.6670641	total: 3.79s	remaining: 20.6s
31:	learn: 1670.9439284	total: 3.91s	remaining: 20.5s
32:	learn: 1666.0367175	total: 4.03s	remaining: 20.4s
33:	learn: 1661.4480201	total: 4.15s	remaining: 20.2s
34:	learn: 1656.6863982	total: 4.27s	remaining: 20.1s
35:	learn: 1653.3081557	total: 4.39s	remaining: 20s
36:	learn: 1650.3304787	total: 4.51s	remaining: 19.9s
37:	learn: 1646.0761079	total: 4.63s	remaining: 19.7s
38:	learn: 1643.0934833	total: 4.76s	remaining: 19.6s
39:	learn: 1636.4195052	total: 4.88s	remaining: 19.5s
40:	learn: 1632.3772107	total: 5.01s	remaining: 19.4s
41:	learn: 1627.6110176	total: 5.13s	remaining: 19.3s
42:	learn: 1623.0973659	total: 5.26s	remaining: 19.2s
43:	learn: 1619.7030591	total: 5.38s	remaining: 19.1s
44:	learn: 1615.4947212	total: 5.5s	remaining: 18.9s
45:	learn: 1613.5079838	total: 5.61s	remaining: 18.8s
46:	learn: 1608.4291024	total: 5.73s	remaining: 18.7s
47:	learn: 1605.1840519	total: 5.85s	remaining: 18.5s
48:	learn: 1602.7976405	total: 5.97s	remaining: 18.4s
49:	learn: 1600.3238811	total: 6.09s	remaining: 18.3s
50:	learn: 1597.6098955	total: 6.22s	remaining: 18.2s
51:	learn: 1595.4365129	total: 6.34s	remaining: 18s
52:	learn: 1591.4983744	total: 6.46s	remaining: 17.9s
53:	learn: 1587.7583066	total: 6.58s	remaining: 17.8s
54:	learn: 1585.9771387	total: 6.7s	remaining: 17.7s
55:	learn: 1580.0838759	total: 6.82s	remaining: 17.5s
56:	learn: 1575.4636555	total: 6.95s	remaining: 17.4s
57:	learn: 1572.0847314	total: 7.06s	remaining: 17.3s
58:	learn: 1569.0959874	total: 7.2s	remaining: 17.2s
59:	learn: 1567.4868555	total: 7.32s	remaining: 17.1s
60:	learn: 1564.8133091	total: 7.44s	remaining: 16.9s
61:	learn: 1561.8064954	total: 7.55s	remaining: 16.8s
62:	learn: 1558.5347849	total: 7.67s	remaining: 16.7s
63:	learn: 1557.1939689	total: 7.79s	remaining: 16.6s
64:	learn: 1554.7325426	total: 7.92s	remaining: 16.4s
65:	learn: 1553.1893419	total: 8.04s	remaining: 16.3s
66:	learn: 1551.1372592	total: 8.16s	remaining: 16.2s
67:	learn: 1548.6912533	total: 8.29s	remaining: 16.1s
68:	learn: 1546.6477776	total: 8.41s	remaining: 16s
69:	learn: 1544.2615833	total: 8.52s	remaining: 15.8s
70:	learn: 1542.7752586	total: 8.64s	remaining: 15.7s
71:	learn: 1541.6443407	total: 8.76s	remaining: 15.6s
72:	learn: 1539.5129477	total: 8.88s	remaining: 15.4s
73:	learn: 1535.5419424	total: 9s	remaining: 15.3s
74:	learn: 1533.3737243	total: 9.12s	remaining: 15.2s
75:	learn: 1530.4328393	total: 9.25s	remaining: 15.1s
76:	learn: 1527.7700284	total: 9.39s	remaining: 15s
77:	learn: 1525.3595399	total: 9.52s	remaining: 14.9s
78:	learn: 1522.6642763	total: 9.64s	remaining: 14.8s
79:	learn: 1521.3422744	total: 9.75s	remaining: 14.6s
80:	learn: 1519.1767701	total: 9.87s	remaining: 14.5s
81:	learn: 1517.0612391	total: 9.99s	remaining: 14.4s
82:	learn: 1514.4907359	total: 10.1s	remaining: 14.3s
83:	learn: 1512.9875660	total: 10.2s	remaining: 14.1s
84:	learn: 1510.9064474	total: 10.4s	remaining: 14s
85:	learn: 1507.4856603	total: 10.5s	remaining: 13.9s
86:	learn: 1506.4532122	total: 10.6s	remaining: 13.8s
87:	learn: 1504.2313306	total: 10.7s	remaining: 13.6s
88:	learn: 1501.9716285	total: 10.8s	remaining: 13.5s
89:	learn: 1501.0840604	total: 11s	remaining: 13.4s
90:	learn: 1497.4894772	total: 11.1s	remaining: 13.3s
91:	learn: 1495.1930889	total: 11.2s	remaining: 13.1s
92:	learn: 1492.7867039	total: 11.3s	remaining: 13s
93:	learn: 1490.6692230	total: 11.4s	remaining: 12.9s
94:	learn: 1489.9513665	total: 11.6s	remaining: 12.8s
95:	learn: 1488.3237147	total: 11.7s	remaining: 12.7s
96:	learn: 1486.2348466	total: 11.8s	remaining: 12.5s
97:	learn: 1484.3300499	total: 11.9s	remaining: 12.4s
98:	learn: 1482.8893327	total: 12s	remaining: 12.3s
99:	learn: 1480.8716802	total: 12.2s	remaining: 12.2s
100:	learn: 1479.5242936	total: 12.3s	remaining: 12.1s
101:	learn: 1478.1378071	total: 12.4s	remaining: 11.9s
102:	learn: 1476.0553657	total: 12.6s	remaining: 11.8s
103:	learn: 1474.9691080	total: 12.7s	remaining: 11.7s
104:	learn: 1474.1220379	total: 12.8s	remaining: 11.6s
105:	learn: 1472.1480657	total: 12.9s	remaining: 11.5s
106:	learn: 1471.0904082	total: 13s	remaining: 11.3s
107:	learn: 1469.6863854	total: 13.2s	remaining: 11.2s
108:	learn: 1468.1312476	total: 13.3s	remaining: 11.1s
109:	learn: 1465.9711028	total: 13.4s	remaining: 11s
110:	learn: 1465.2734723	total: 13.5s	remaining: 10.9s
111:	learn: 1463.9866129	total: 13.7s	remaining: 10.7s
112:	learn: 1463.0656373	total: 13.8s	remaining: 10.6s
113:	learn: 1462.4379427	total: 13.9s	remaining: 10.5s
114:	learn: 1460.6298675	total: 14s	remaining: 10.4s
115:	learn: 1458.5989150	total: 14.1s	remaining: 10.2s
116:	learn: 1457.1692357	total: 14.3s	remaining: 10.1s
117:	learn: 1455.9095764	total: 14.4s	remaining: 10s
118:	learn: 1454.9678136	total: 14.5s	remaining: 9.88s
119:	learn: 1453.1502405	total: 14.6s	remaining: 9.76s
120:	learn: 1450.9149809	total: 14.8s	remaining: 9.64s
121:	learn: 1449.5481913	total: 14.9s	remaining: 9.52s
122:	learn: 1448.5493657	total: 15s	remaining: 9.39s
123:	learn: 1447.0378363	total: 15.1s	remaining: 9.27s
124:	learn: 1446.1601675	total: 15.2s	remaining: 9.15s
125:	learn: 1445.1983579	total: 15.4s	remaining: 9.03s
126:	learn: 1444.2026408	total: 15.5s	remaining: 8.9s
127:	learn: 1442.8649129	total: 15.6s	remaining: 8.78s
128:	learn: 1442.2348908	total: 15.7s	remaining: 8.66s
129:	learn: 1441.2205617	total: 15.9s	remaining: 8.54s
130:	learn: 1440.4472141	total: 16s	remaining: 8.41s
131:	learn: 1439.0539119	total: 16.1s	remaining: 8.29s
132:	learn: 1437.6479736	total: 16.2s	remaining: 8.17s
133:	learn: 1435.3963031	total: 16.3s	remaining: 8.05s
134:	learn: 1433.9335431	total: 16.5s	remaining: 7.93s
135:	learn: 1432.7654516	total: 16.6s	remaining: 7.8s
136:	learn: 1432.0368357	total: 16.7s	remaining: 7.68s
137:	learn: 1429.7074789	total: 16.8s	remaining: 7.56s
138:	learn: 1428.8624492	total: 16.9s	remaining: 7.44s
139:	learn: 1428.1079617	total: 17.1s	remaining: 7.31s
140:	learn: 1426.7507668	total: 17.2s	remaining: 7.19s
141:	learn: 1426.0813588	total: 17.3s	remaining: 7.07s
142:	learn: 1424.4648999	total: 17.4s	remaining: 6.95s
143:	learn: 1423.1920661	total: 17.6s	remaining: 6.83s
144:	learn: 1422.3931397	total: 17.7s	remaining: 6.7s
145:	learn: 1421.4954412	total: 17.8s	remaining: 6.58s
146:	learn: 1420.2170266	total: 17.9s	remaining: 6.46s
147:	learn: 1419.6501459	total: 18s	remaining: 6.33s
148:	learn: 1418.3831264	total: 18.1s	remaining: 6.21s
149:	learn: 1417.8133119	total: 18.3s	remaining: 6.09s
150:	learn: 1417.0836103	total: 18.4s	remaining: 5.97s
151:	learn: 1415.9017016	total: 18.5s	remaining: 5.84s
152:	learn: 1414.8338832	total: 18.6s	remaining: 5.72s
153:	learn: 1412.7699749	total: 18.8s	remaining: 5.6s
154:	learn: 1411.7140638	total: 18.9s	remaining: 5.48s
155:	learn: 1410.7678964	total: 19s	remaining: 5.36s
156:	learn: 1410.3203278	total: 19.1s	remaining: 5.24s
157:	learn: 1409.4005430	total: 19.2s	remaining: 5.12s
158:	learn: 1408.4171859	total: 19.4s	remaining: 5s
159:	learn: 1407.7303735	total: 19.5s	remaining: 4.88s
160:	learn: 1406.2844640	total: 19.6s	remaining: 4.76s
161:	learn: 1405.7565012	total: 19.8s	remaining: 4.63s
162:	learn: 1404.7328210	total: 19.9s	remaining: 4.51s
163:	learn: 1404.6886009	total: 19.9s	remaining: 4.37s
164:	learn: 1404.1785584	total: 20s	remaining: 4.25s
165:	learn: 1403.2187316	total: 20.2s	remaining: 4.13s
166:	learn: 1400.4420404	total: 20.3s	remaining: 4.01s
167:	learn: 1398.9747915	total: 20.4s	remaining: 3.89s
168:	learn: 1398.2731763	total: 20.5s	remaining: 3.77s

In [ ]:
results

                  Модель  ... Метрика RMSE, евро
0       LinearRegression  ...        3144.118692
0  RandomForestRegressor  ...        1676.311629
0          LGBMRegressor  ...        1701.669542
0      CatBoostRegressor  ...        1658.281026

[4 rows x 5 columns]

## Dummy Regression

In [ ]:
# Обучим Dummy модельб выбрав медиану как стратегию предсказания
dum = DummyRegressor(strategy = 'median').fit(X_train, y_train)
y_pred = dum.predict(X_test)

In [ ]:
mean_squared_error(y_test, y_pred)**0.5

4802.361835538281

## Анализ моделей

Мы провели сравнительный анализ метрик моделей разных категорий: референсная Dummy модель, Линейная регрессия, Лес и модель градиентного спуска LGBM. По результатам исследований выявили, что погрешность предскзаания Леса ниже (1679 евро), чем у других моделей, но требуется заметно больше времени на обучение (352 секунда) и на предсказание (2,22 секунды),модель градиентного спуска LGBM обучается быстрей (86 секунды) и быстрей предсказывает (менее 1 секунды), но точность на 100 евро хуже (1780 евро), чем у Леса.

При условии, что Заказчику важны все 3 параметра (точность предсказания, время предсказания и время обучения) для определения стоимости, то считаю, что можно использовать модель LGBM.